<!DOCTYPE html>
<html>
    <head>
        <title>Exchange rates</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/customstyle.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <div class="container">
            <h1 align="center">Find out about the exchange rates first!</h1>

            <div class="col col-md-5">
                <div class="rates">
                    <div class="rates-info">
                        <div class="rate-block">
                            <h2>Currency exchange rates:</h2>
                        </div>

                        <div class="rate-block">
                            <span class="rate-elem">From/To</span>

                            <select class="custom-select">
                                <option>EUR/USD</option>
                                <option>EUR/RUB</option>
                            </select>
                        </div>

                        <div class="rate-block">
                            <span class="rate-elem">Buy</span>
                            <span class="rate-elem">65.35</span>
                        </div>

                        <div class="rate-block">
                            <span class="rate-elem">Sell</span>
                            <span class="rate-elem">65.35</span>
                        </div>
                    </div>

                    <div class="add-info">
                        <div class="rate-block">
                            <h2>Additional information:</h2>
                        </div>

                        <div class="average">
                            Average:
                        </div>

                        <div class="spread">
                            Spread:
                        </div>

                        <div class="forecast">
                            Forecast:
                        </div>
                    </div>
                </div>

                <div class="trigger">
                    <h2>Trigger:</h2>

                    <form class="trigger-body col-md-12">
                      <div class="trigger-block col-md-6">
                          <div class="trigger-elem">
                              <label>Operation:</label>
                          </div>

                          <div class="trigger-elem">
                            <select class="custom-select form-control">
                                <option>Sell</option>
                                <option>Buy</option>
                            </select>
                          </div>
                      </div>

                      <div class="trigger-block col-md-6">
                          <div class="trigger-elem">
                              <label>Condition:</label>
                          </div>

                          <div class="trigger-elem">
                            <select class="custom-select form-control">
                                <option>Greater</option>
                                <option>Lesser</option>
                            </select>
                          </div>
                      </div>

                        <div class="trigger-block col-md-6">
                            <div class="trigger-elem">
                                <label>Threshold:</label>
                            </div>

                            <div class="trigger-elem">
                                <input type="text" class="control-trig-elem form-control">
                            </div>
                        </div>

                        <div class="trigger-block col-md-6">
                            <div class="trigger-elem">
                                <label>Email:</label>
                            </div>

                            <div class="trigger-elem">
                                <input class="control-trig-elem form-control" type="email">
                            </div>
                        </div>

                        <div class="trigger-block col-md-12">
                            <div class="trigger-elem">
                                <button type="submit" class="trigger-btn-sumbit btn btn-primary">
                                    Create trigger
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col col-md-6">
                <h2 class="chart-title">Chart title</h2>

                <div class="chart">
                    <canvas height="475">
                    </canvas>
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
