.rate-name{
    font-weight:bold;
    font-size:20px;
}

.add-info{
    margin-top:10px;
    font-size:20px;
}

.trigger{
    margin-top:40px;
}

.trigger-body{
    border:1px solid gray;
}

.trigger-block{
    padding-top:5px;
    padding-bottom:5px;
}

.trigger-btn-sumbit{
    float:right;
}

.chart{
    border:1px solid gray;
}

.col{
    margin-top:20px;
}

.rate-elem{
    padding-bottom:5px;
    display:block;
}

.rate-block{
    margin-right:50px;
    display:inline-block;
}

.rates-info{
    font-size:17px;
}

.chart-title{
    text-align:center;
}
